@font-style: 'Arimo', sans-serif;

.font-styles {
    @font-style: 'Arimo', sans-serif;
    color: darkslategray;
    font-weight: 700;
;

}

.a-style {
    text-decoration: none;
            font-size: 1.4rem ;
            .font-styles;
            margin: 0.2%;
            padding: 0 1.2%;
}